/*
Course: INFT 2202-10
Group: 5
Instructor: Sergio Santilli
Date Started: January 22, 2025
Date Ended: January 24, 2025
Names: Mohammed Aasim, Ashar Asad
File: style.css
Description: Provides styles for the Volunteer Connect platform, ensuring responsive design.
*/

/* Navbar */
.navbar {
    background-color: #0056b3;
    padding: 10px 20px;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: #ffcc00 !important;
}
